@keyframes enterAnimation {
    0% {
        opacity: 0;
        transform: translateY(1vw);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popupAnimation {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(0.5vw);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes slideInAnimation {
    0% {
        transform: translateX(20vw) translateY(-20vw);
        opacity: 0;
    }


    20% {
        transform: translateX(0vw) translateY(-20vw);
        opacity: 1;
    }

    50% {
        transform: translateX(0vw) translateY(-20vw);
        opacity: 1;
    }


    90% {
        transform: translateX(0vw) translateY(0vw);
        opacity: 1;
    }


    100% {
        transform: translateX(0vw) translateY(0vw);
        opacity: 1;
    }

}

@keyframes tadaAnimation {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes moveAroundAnimation {
    0% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
        filter: blur(1px);
    }

    20% {
        transform: translateX(3vw) translateY(2vw) rotate(23deg);
        filter: blur(1px);
    }

    20% {
        transform: translateX(2vw) translateY(3vw) rotate(12deg);
        filter: blur(2px);
    }

    40% {
        transform: translateX(3vw) translateY(5vw) rotate(4deg);
        filter: blur(2px);
    }

    50% {
        transform: translateX(1vw) translateY(7vw) rotate(5deg);
        filter: blur(1px);
    }

    60% {
        transform: translateX(3vw) translateY(9vw) rotate(34deg);
        filter: blur(2px);
    }

    70% {
        transform: translateX(0vw) translateY(6vw) rotate(45deg);
        filter: blur(1px);
    }

    80% {
        transform: translateX(4vw) translateY(4vw) rotate(78deg);
        filter: blur(2px);
    }

    90% {
        transform: translateX(2vw) translateY(1vw) rotate(25deg);
        filter: blur(1px);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
        filter: blur(1px);
    }

}

@keyframes moveAroundAnimation2 {
    0% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
        filter: blur(1px);
    }

    20% {
        transform: translateX(3vw) translateY(2vw) rotate(180deg);
        filter: blur(1px);
    }

    20% {
        transform: translateX(2vw) translateY(6vw) rotate(423deg);
        filter: blur(2px);
    }

    40% {
        transform: translateX(3vw) translateY(5vw) rotate(54deg);
        filter: blur(2px);
    }

    50% {
        transform: translateX(1vw) translateY(7vw) rotate(97deg);
        filter: blur(1px);
    }

    60% {
        transform: translateX(3vw) translateY(9vw) rotate(34deg);
        filter: blur(2px);
    }

    70% {
        transform: translateX(0vw) translateY(2vw) rotate(0deg);
        filter: blur(1px);
    }

    80% {
        transform: translateX(4vw) translateY(4vw) rotate(65deg);
        filter: blur(2px);
    }

    90% {
        transform: translateX(2vw) translateY(1vw) rotate(0deg);
        filter: blur(1px);
    }

    100% {
        transform: translateX(0vw) translateY(0vw) rotate(0deg);
        filter: blur(1px);
    }


}

@keyframes changeContent {
 

    10% {
        content: "⠸";
    }

    20% {
        content: "⠼";
    }

    30% {
        content: "⠴";
    }

    40% {
        content: "⠦";
    }

    50% {
        content: "⠧";
    }

    60% {
        content: "⠇";
    }

    70% {
        content: "⠏";
    }

    80% {
        content: "⠙";
    }

    90% {
        content: "⠹";
    }
}