html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $page-background;
  margin: 0;
  display: flex;
  overflow: hidden;
}

* {
  font-family: $font-family;
  text-shadow: $text-shadow;
  color: $text-main;
  font-size: 0.8vw;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.hidden {
  display: none;
}

.content-card {
  flex: 1;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  background-color: $content-background;
  box-shadow: $content-box-shadow;
  border-radius: $content-border-radius;
  transition: $transition;
  animation: fadeInAnimation2 0.5s ease-in-out;
  position: relative;
  background-image: $content-background-image;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;


  header {
    padding: 4vw 4vw 3vw;
    display: flex;
    justify-content: space-between;

    * {
      font-family: $font-family-secondary;
    }

    .logo {
      font-size: 2vw;
      display: flex;
      align-items: center;
      animation: enterAnimation 1s ease-in-out;
      flex: 1;

      .mech-spinner {
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          animation: changeContent 30s linear infinite;
          display: block;
          content: "⠸";
          font-size: 2vw;
        }
      }
    }


    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-right: 3vw;
      margin-left: 2vw;

      button {
        animation: tadaAnimation 1s ease-in-out;
        animation-delay: 1s;
      }
    }

    nav {
      display: flex;
      gap: 2vw;

      .nav-item {
        animation: popupAnimation 1s ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1vw 1.5vw;
        transition: $transition;
        cursor: pointer;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }

        &:nth-child(2) {
          animation-delay: 0.4s;
        }

        &:nth-child(3) {
          animation-delay: 0.6s;
        }

        &:nth-child(4) {
          animation-delay: 0.8s;
        }


        &:hover {
          text-shadow: $text-shadow-secondary;
        }

        &.active {
          text-shadow: $text-shadow-secondary;
          transform: translateY(-0.2vw);
        }
      }

    }
  }

  content {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 0 7vw 0 3vw;

    .content-container {
      z-index: 2;
      width: 50%;
      max-height: 66vh;
      overflow: hidden;
      animation: fadeInAnimation 3s ease-in-out;

      .about {
        padding-left: 2vw;

        h3 {
          font-size: 1.5vw;
          color: $accent-color;
          margin: 0;
        }

        h1 {
          font-size: 3.6vw;
          margin: 0;
        }

        h4 {
          font-size: 1vw;
          color: $text-secondary;
          margin: 0;
        }

        p {
          font-size: 1vw;
          margin: 1.3vw 0;
          line-height: 1.6vw;
        }
      }

      .resume {

        .resume-item {
          padding: 0.8vw;
          display: flex;
          gap: 1.6vw;
          padding-left: 0;

          .item-titles {
            text-align: right;
            padding: 0.8vw;
            flex: 1;
            padding-left: 0;

            .item-date {
              display: block;
              padding-bottom: 0.8vw;
              color: $accent-color;
            }

            .item-company {
              font-size: 0.7vw;
              color: $text-secondary;
            }
          }

          .item-info {
            flex: 2;
            padding: 0.8vw;
            position: relative;

            &::before {
              top: 0;
              bottom: 0;
              left: -0.8vw;
              position: absolute;
              content: "";
              display: block;
              width: 0.1vw;
              height: 100%;
              background: $highlight-color;
              box-shadow: $purple-glow;
              border-radius: 0.8vw;
            }

            .item-job-title {
              font-size: 1.1vw;
              margin: 0 0 0.8vw 0;
            }

            .item-job-desc {
              padding: 0 0 0 1.6vw;
              line-height: 1.2vw;

              li {
                font-family: monospace;
              }

              ul {
                padding: 0 0 0 1.6vw;
              }
            }
          }
        }
      }

      .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        padding: 1vw;
        padding-top: 5vw;

        &.certificates {
          div {
            img {
              object-fit: contain;
            }
          }
        }

        div {
          cursor: pointer;
          width: 48%;
          height: auto;
          box-shadow: $content-box-shadow-dark;
          border-radius: 1vw;
          overflow: hidden;
          transition: $transition;

          &:hover {
            transform: scale(1.05);
            box-shadow: $content-box-shadow;
          }

          &:nth-child(even) {
            margin-top: -5vw;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }


}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;

  .shape {
    position: absolute;
    width: 3vw;
    height: 3vw;
    filter: blur(1px);

    &:nth-child(1) {
      top: 10vw;
      left: 5vw;
      animation: moveAroundAnimation 40s ease-in-out infinite;
      animation-delay: 3s;
    }

    &:nth-child(2) {
      bottom: 10vw;
      left: 33vw;
      animation: moveAroundAnimation 20s ease-in-out infinite;
    }

    &:nth-child(3) {
      bottom: 16vw;
      left: 5vw;
      animation: moveAroundAnimation 50s ease-in-out infinite;
      animation-delay: 1s;
    }

  }

}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;

  .particle {
    position: absolute;
    width: 3vw;
    height: 3vw;
    animation-delay: 3s;

    &:nth-child(1) {
      bottom: 14vw;
      animation-delay: 1s;
      left: 13vw;
      animation: moveAroundAnimation2 50s ease-in-out infinite;
    }

    &:nth-child(2) {
      top: 25vw;
      left: 2vw;
      animation: moveAroundAnimation2 60s ease-in-out infinite;
      animation-delay: 3s;
    }

    &:nth-child(3) {
      border-radius: 50%;
      filter: hue-rotate(292deg);
      width: 3vw;
      height: 3vw;
      left: 6vw;
      bottom: 3.5vw;
      box-shadow: 0px 0px 43px 31px black;
    }




  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  animation: fadeInAnimation 1s ease-in-out;
  position: fixed;
  bottom: 6vw;
  right: .5vw;
  flex-direction: column;
  z-index: 3;

  a {
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: $transition;
    box-shadow: $content-box-shadow-dark;
    animation: slideInAnimation 1s ease-in-out;
    width: 2vw;
    height: 2vw;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      filter: hue-rotate(0deg) brightness(1);
    }

    &:hover {
      transform: translateX(-0.25vw);

      img {
        filter: hue-rotate(-1deg) brightness(2.2);
      }
    }
  }

}

@media (max-width: 768px) {
  * {
    font-size: 1.8vw;
  }

  .content-card {
    header {
      .logo {
        font-size: 4vw;

        .mech-spinner {

          &:after {
            font-size: 4vw;
          }
        }
      }
    }

    content {
      .content-container {
        width: 100%;
        max-height: 75vh;

        .about {
          padding-top: 4vw;

          h3 {
            font-size: 3.5vw;
          }

          h1 {
            font-size: 5.6vw;
          }

          h4 {
            font-size: 2vw;
          }

          p {
            font-size: 2vw;
            line-height: 3vw;
          }
        }

        .resume {
          .resume-item {
            .item-titles {
              .item-company {
                font-size: 1.5vw;
              }
            }

            .item-info {
              padding: 2.8vw;

              .item-job-desc {
                padding: 0 0 0 2.6vw;
                line-height: 3vw;
              }

              .item-job-title {
                font-size: 3vw;
              }
            }
          }
        }

        .gallery {
          gap: 3vw;
        }

      }

    }


  }

  .social {
    gap: 1.5vw;
    bottom: 8vw;

    a {
      width: 4vw;
      height: 4vw;
    }

  }
}

@media (max-width: 500px) {

  .content-card {
    header {
      flex-wrap: wrap;

      .logo {
        font-size: 8vw;

        .mech-spinner {
          &:after {
            font-size: 8vw;
          }
        }

      }

      nav {
        order: 1;
        width: 100%;
        justify-content: space-between;
        margin-top: 6vw;

        .nav-item {
          font-size: 4vw;
        }
      }

      a {
        margin-right: 0;

        button {
          font-size: 3vw;
          padding: 2.5vw 6vw;
        }
      }
    }

    content {
      padding: 0 3vw 0 3vw;

      .content-container {
        max-height: 65vh;

        .about {
          p {
            font-size: 3.5vw;
            line-height: 5vw;
            margin: 3vw 0;
          }
        }

        .resume {
          margin-top: 4vw;

          .resume-item {
            .item-titles {
              max-width: 25%;

              .item-date {
                font-size: 3vw;
              }

              .item-company {
                font-size: 2.5vw;
              }
            }

            .item-info {
              .item-job-title {
                font-size: 5vw;
                margin: 0 0 3.5vw 0;

              }

              .item-job-desc {
                li {
                  font-size: 3vw;
                  line-height: 3.5vw;
                }
              }
            }
          }
        }
      }
    }
  }

  .social {

    a {
      width: 8vw;
      height: 8vw;

      &:hover {
        transform: translateX(-1vw);
      }
    }
  }

  .particles {
    .particle {
      width: 12vw !important;
      height: 12vw !important;
    }
  }

  .shapes {
    .shape {
      width: 12vw !important;
      height: 12vw !important;

      &:nth-child(1) {
        top: 61vw;
        left: 46vw;
      }

      &:nth-child(2) {
        bottom: 61vw;
        right: 21vw;
        left: auto;
      }
    }
  }
}