.slider-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;

  .slides-container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    .slide {
      width: 100%;
      height: 100%;
      flex: 1 0 100%;
      scroll-snap-align: start;
      overflow-y: auto;
      margin-right: 0.5vw;

      //scrollbar
      &::-webkit-scrollbar {
        width: 0.5vw;
        background-color: $page-background;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $accent-color;
        border-radius: 0.5vw;
        transition: $transition;

        &:hover {
          background-color: $highlight-color;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      /* hide the scrollbar */
      background: transparent;
      /* optional: remove the default background color */
    }
  }

}